{:tape.mvc.controller/reg-fn [:tape/const]

 :tape.mvc.controller/sub [:tape/const]
 :tape.mvc.controller/sub-raw [:tape/const]
 :tape.mvc.controller/fx [:tape/const]
 :tape.mvc.controller/cofx [:tape/const]
 :tape.mvc.controller/event-fx [:tape/const]
 :tape.mvc.controller/event-db [:tape/const]

 :tape.mvc.view/view [:tape/const]

 :tape.mvc.view/current [:tape.mvc.controller/sub]
 :tape.mvc.view/current-fn [:tape.mvc.controller/sub]}
