{:tape/multi [:tape/const]

 :tape.mvc.controller/reg-fn [:tape/const :tape/multi]

 :tape.mvc.controller/sub [:tape/const :tape/multi]
 :tape.mvc.controller/sub-raw [:tape/const :tape/multi]
 :tape.mvc.controller/fx [:tape/const :tape/multi]
 :tape.mvc.controller/cofx [:tape/const :tape/multi]
 :tape.mvc.controller/event-fx [:tape/const :tape/multi]
 :tape.mvc.controller/event-db [:tape/const :tape/multi]

 :tape.mvc.view/view [:tape/const :tape/multi]

 :tape.mvc.view/current [:tape.mvc.controller/sub]
 :tape.mvc.view/current-fn [:tape.mvc.controller/sub]

 :tape.mvc/main [:tape/main]}
