#:tape.mvc
    {:tape/multi [:tape/const]

     :routes [:tape/const :tape/multi]

     :sub [:tape/const :tape/multi]
     :sub-raw [:tape/const :tape/multi]
     :fx [:tape/const :tape/multi]
     :cofx [:tape/const :tape/multi]
     :event-fx [:tape/const :tape/multi]
     :event-db [:tape/const :tape/multi]

     :view [:tape/const :tape/multi]

     :main [:tape/main]}
